# version: "3.9"

services:
  mysql:
    image: mysql:8.0
    restart: on-failure
    ports:
      - 3303:3307
    networks:
      database:
        aliases:
          - db
    environment:
      - MYSQL_ROOT_PASSWORD=password
  pgsql:
    image: timescale/timescaledb:latest-pg12
    restart: on-failure
    ports:
      - 3008:5432
    volumes:
      - ./pgsql-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: x-brain
    networks:
      postgresqlDB:
        aliases:
          - postgresql-db
  zenml:
    build:
      context: .
      dockerfile: Dockerfile
    user: root
    ports:
      - 5002:9002
      - "7000:7000"
      - "7001:7001"
      - "7002:7002"
      - "7003:7003"
      - "7004:7004"
      - "7005:7005"
      - "7006:7006"
      - "7007:7007"
      - "7008:7008"
      - "7009:7009"
      - "7010:7010"     # - 3334:3334  ## Port for first run Covid-19 model
    networks:
      database:
    volumes:
      - /home/sriengchhun_chheang/BDH-Zenml-0.82:/app
      - /mnt/xbraindata:/data/local-files
    environment:

      - ZENML_STORE_URL=mysql://root:password@db/zenml
      - ZENML_DEFAULT_USER_NAME=admin
      - ZENML_DEFAULT_USER_PASSWORD=zenml
      - POSTGRES_DATABASE_NAME=postgres
      - POSTGRES_USER_NAME=postgres
      - POSTGRES_PASSWORD=x-brain
      - POSTGRES_HOST_IP=192.168.122.140
      - POSTGRES_PORT=3008
    links:
      - mysql
    depends_on:
      - mysql
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: on-failure
networks:
  database:
    external: false
  postgresqlDB:
    external: false

### Zenml password: Bdh_xbrain@169